DISCORD_TOKEN=MTU0MTU3NjM3NjkxNjY0Nzk0Ng.G_JWDH._hMaEx2FZQQMS9HrP04lgwY5jLRozfXu9fH4n0
CLIENT_ID=1541576376916647946
GUILD_ID=1247259471814721567
DATABASE_PATH=./data/database.db
LOG_LEVEL=info

# Admin-Panel
ADMIN_PORT=3000
ADMIN_PASSWORD=admin123
ADMIN_JWT_SECRET=dein-geheimer-jwt-schluessel-hier-aendern
ADMIN_ORIGIN=http://localhost:3000
